@{
	ViewBag.Title = "Westerville Artists Unite";
	Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<h2>Artist &amp; Venue Listings</h2>
<div>
	@{Html.RenderAction("CoverFlow", "ArtistPublic");}
</div>
<p class="small">You can search for artists and venues in Westerville.</p>
<section id="search">
	<h3>Search</h3>
	<div id="search-box">
		<div class="clear-fix">
			<label for="query">Search Artists and Venues</label>
			<input type="text" id="artist-venue-query" name="query" placeholder="search for artists and venues" />
			<a id="artist-venue-button" href="#">Go</a>
		</div>
	</div>
</section>
<section id="browse">
	@{ Html.RenderAction("GetCategoryTree", "ArtistType"); }
	<div style="clear: both;">
	</div>
</section>
<section id="results"></section>
<script type="text/javascript">
	$(document).ready(function () {
		$("'[placeholder]'").focus(function () {
			var input = $(this);
			if (input.val() == input.attr("'placeholder'")) {
				input.val("''");
				input.removeClass("'placeholder'");
			}
		}).blur(function () {
			var input = $(this);
			if (input.val() == "''" || input.val() == input.attr("'placeholder'")) {
				input.addClass("'placeholder'");
				input.val(input.attr("'placeholder'"));
			}
		}).blur();

		$("#artist-venue-button").click(function () {
			$('#results').empty();
			$.getJSON("/Home/Search?term=" + $("#artist-venue-query").val(), function (data) {
				$.each(data.Results, function (i, item) {
					populateArtistTypes(item);
				});
				$('#browse').hide();
			});
		});

		$(".artist-type").click(function () {
			$('#results').empty();
			$.getJSON("/Home/SearchType/" + $(this).attr('data-typeId'), function (data) {
				$.each(data, function (i, item) {
					populateArtistTypes(item);
				});
				$('#browse').hide();
			});
			return false;
		});
		$(".artist-category").click(function () {
			$('#results').empty();
			$.getJSON("/Home/SearchCategory/" + $(this).attr('data-subTypeId'), function (data) {
				$.each(data, function (i, item) {
					populateArtistTypes(item);
				});
				$('#browse').hide();
			});
			return false;
		});

		function populateArtistTypes(item) {
			var content = "";
			content += "<ul><li><h3><a href='/ArtistPublic/Profile/" + item.Id + "'>" + item.Name + "</a></h3>";
			content += "<p>" + item.Type + "</p>";
			content += "<p>" + item.Bio + "</p></li></ul>";
			$('#results').append(content);
		}

		//		$("#artist-venue-query").autocomplete({
		//			minLength: 1,
		//			source: "/Home/Search/",
		//			focus: function (event, ui) {
		//				$("#artist-venue-query").val(ui.item.Name);
		//				return false;
		//			},
		//			open: function (event, ui) {
		//				$('ul.ui-autocomplete').css('width', '500px');
		//			}
		//		})
		//		.data("autocomplete")._renderItem = function (ul, item) {
		//			return $("<li class='search-result'></li>")
		//				.data("item.autocomplete", item)
		//				.append("<a href='/Artist/Details/" + item.Id + "'>" + item.Name + "<span class='result-type'>" + item.Type + "</span></a>")
		//				.appendTo(ul);
		//		};

		$("#artist-venue-query").autocomplete({
			minLength: 1,
			source: function (request, response) {
				$.getJSON("/Home/Search/term=" + request.term, function (data) {
					if (data.Results.length > 0) {
						var a = $.map(data.Results, function (item) { return { value: item.Id, label: item.Name, type: item.Type} })

						response(a);
					}
					else {
						return alert("No Results found");
					}
				});
			},
			focus: function (event, ui) {
				$("#artist-venue-query").val(ui.item.label);
				return false;
			},
			open: function (event, ui) {
				$('ul.ui-autocomplete').css('width', '500px');
			},
			select: function (event, ui) {
				$("#artist-venue-query").val(ui.item.label);
				$("#artist-venue-button").click();
				return false;
			}
		})
		.data("autocomplete")._renderItem = function (ul, item) {
			return $("<li class='search-result'></li>")
				.data("item.autocomplete", item)
				.append("<a href='/Artist/Details/" + item.value + "'>" + item.label + "<span class='result-type'>" + item.type + "</span></a>")
				.appendTo(ul);
		};




	});
</script>
