@model Web.Models.ArtistModel

@{
    ViewBag.Title = "NotYourArtist";
}

<h2>Invalid Artist</h2>

<p>You may only edit artists which you created.</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
