div.flowwrapper {
   height: 200px;
   width: 800px; /*600*/
   padding: 10px;
   overflow: visible;
    display: block;
   position: relative;
   margin: 0 0 0 200px;
}
#coverflow {
   width: 2600px;
   padding: 42px;
   position: absolute;
   top: 0px;
   left: 0px;
   margin-top: 40px;
}
#coverflow img {
   float: left;
   position: relative;
   margin: -50px;
}
