html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; height: 101%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* END Eric Meyer CSS Reset */

html, body { background: #efefef; font: normal 14px Nunito,sans-serif; height: 101%; line-height: 1.4em; margin: 0; padding: 0; text-align: center; }
div.clear-fix { overflow: auto; width: 100%; }
a { color: #77ad40; }
a:hover, a:active { color: #000; text-decoration: none; }
p.small { color: #666; font-size: 12px; margin: 0 10px; }
input.placeholder { color: #ccc; }

h1 { background: transparent url('/Content/images/h1_bg.gif'); border-bottom: 1px dotted #999; border-top: 10px solid #333; font-family: 'Terminal Dosis Light' , arial, serif; font-size: 36px; font-weight: bold; margin: 10px 0 20px; padding: 20px 10px 10px; }

h1 span { color: #888; display: block; font-size: 18px; padding-top: 10px; }

h2 { font-size: 20px; font-weight: bold; margin: 0 10px; }

div#wrapper { background: #fff; border: 1px solid #ccc; margin: 0 auto; width: 960px; text-align: left; }

div#content, section#results ul { padding: 10px; }

section#search { margin-top: 5px; padding: 10px; }

section#search h3, section#search label, span.hide { display: none; }

section#search #search-box { border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #999; border-right: 1px solid #999; font-size: 18px; padding: 5px; width: 500px; }

section#search #search-box input { border: none; display: block; float: left; font-size: 18px; width: 420px; }

section#search a { background: #77ad40; color: #fff; display: block; float: right; font-size: 16px; padding: 3px 10px 3px; text-decoration: none; }

section#browse { margin-top: 10px; padding: 10px; }

section#browse h3 { font-size: 18px; }

section#browse ul { font-size: 18px; padding: 10px; }

section#browse ul li { display: block; float: left; width: 140px; }

section#browse ul li ul { font-size: 14px; }

section#browse ul li ul li { display: block; float: none; width: auto; }

section#results ul li h3 { font-size: 16px; }

section#results ul li h3 a { background: #f1f19f; border-bottom: 1px dotted #000; color: #000; padding: 0 3px; text-decoration: none; }

section#results ul li a.venue { color: #4694c5; }

section#results ul li { padding: 10px 0; }

#footer { border-top: 10px solid #666; font-size: 12px; padding: 5px 10px; }
#footer #admin, #footer #login, #footer #stats { display: inline; float: right; padding: 5px 10px; }
