body ul { text-align: left; }

h1 { background: transparent url('/Content/images/h1_bg.gif'); border-bottom: 1px dotted #999; border-top: 10px solid #333; font-family: 'Terminal Dosis Light' , arial, serif; font-size: 36px; font-weight: bold; margin: 10px 0 20px; padding: 20px 10px 10px; }

h1 span { color: #888; display: block; font-size: 18px; padding-top: 10px; }

section#search { margin-top: 5px; padding: 10px; width:500px; clear: both; }

section#search h3, section#search label, span.hide { display: none; }

section#search #search-box { border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #999; border-right: 1px solid #999; font-size: 18px; padding: 5px; width: 500px; }

section#search #search-box input { border: none; display: block; float: left; font-size: 18px; width: 420px; }

section#search a { background: #77ad40; color: #fff; display: block; float: right; font-size: 16px; padding: 3px 10px 3px; text-decoration: none; }

section#browse { float:left; margin-top: 10px; padding: 10px; width:500px; }

section#browse h3 { font-size: 18px; }

section#browse ul { font-size: 18px; padding: 10px; }

section#browse ul li { display: block; float: left; width: 140px; }

section#browse ul li ul { font-size: 14px; }

section#browse ul li ul li { display: block; float: none; width: auto; }

section#results ul { float:left; padding: 10px; }

section#results ul li { padding: 10px 0; }

section#results ul li h3 { font-size: 16px; }

section#results ul li h3 a { background: #f1f19f; border-bottom: 1px dotted #000; color: #000; padding: 0 3px; text-decoration: none; }

section#results ul li a.venue { color: #4694c5; }

section#links { float:right; width:360px; padding:10px; margin:10px 0; }

section#links ul li { padding:5px 0 0; }

section#links ul li a { font-size:14px; }

ul.ui-autocomplete { background: #fff; border: 1px dotted #ccc; }
ul.ui-autocomplete li { border: none; height: 25px; padding: 5px; }
ul.ui-autocomplete li a span.result-type { display: block; float: right; font-size: 10px; height: 30px; width: 50px; text-transform: uppercase; }

li.search-result { border-bottom: solid 1px blue; height: 30px; }

