body ul {
	text-align: left;
}

section.browse { clear: both; }
li.search-result { border-bottom: solid 1px blue; height: 30px; }
.result-type { display: block; float: right; height: 30px; width: 30px; }
#result-description { margin: 0; padding: 0; }

.ui-autocomplete { border: solid 1px green; }