@model Web.Models.VenueModel

@{
    ViewBag.Title = "NotRegistered";
}

<h2>Artist Not Registered</h2>

<p>Please register your artist information before attempting to create a venue.</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>