@model Web.Models.VenueModel

@{
    ViewBag.Title = "VenueAlreadyDefined";
}

<h2>Venue Already Defined</h2>

<p>You've already created a venue. Use the Edit function if you need to update the information.</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
